@import '~antd/dist/antd.css';


.font {
    font-family: 'Noto Sans', sans-serif;
}

.big-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: cornflowerblue;
    font-size: x-large;
}